$grid-breakpoints: (
  xs: 0,
  sm: 720px,
  md: 1000px,
  lg: 1380px,
  xl: 1920px
);

$white: #FFFFFF;
$blue: #20A4F3;
$purple: #AD6FE7;
$orange: #F2690D;
$green: #0CA761;
$yellow: #F9CB40;

$link-color: $blue;

$font-weight-bold: 700;
$headings-font-weight: $font-weight-bold;
$btn-font-weight: $font-weight-bold;

$theme-colors: (
  "discord": #7289da,
  "kofi": #FF5F5F,
  "facebook": #3b5998,
  "instagram": #833ab4,
  "liberapay": #F6C915,
  "mastodon": #2773CA,
  "patreon": #f96854,
  "paypal": #009cde,
  "peertube": $orange,
  "twitch": #6441a5,
  "twitter": #1da1f2,
  "youtube": $blue,
  "website": #21759b
);
